* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

#encabezado {
    background-image: linear-gradient(#aaa, #fff);
}

#encabezado > img {
    float: left;
    width: 25em;
    
    padding: 30px;
}

#encabezado > h1 {
    margin: 0;
    margin-left: 30%;
    padding: 40px;
    text-transform: uppercase;
}

#menu {
    clear: left;
    background-color: #289E93;
    border: 2px solid #000;
    text-align: center;
}

#menu ul {
    margin: 0;
}

#menu li {
    list-style: none;
    display: inline-block;
    
}

#menu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    transition: 300ms ease-in;
}

#menu a:hover {
    background-color: #4fc27b;
}

#menu a.active {
    background-color: #258f7d;
    border-bottom: 2px solid #63caa8;
}

#contenido-inicio {
    background-color: #aaa;
    text-align: center;
    overflow: hidden;
}

#contenido-inicio .filosofia {
    float: left;
    width: 60%;
}

#contenido-inicio .noticias {
    float: right;
    width: 40%;
}

#contenido-inicio .filosofia h2,
#contenido-inicio .filosofia p  {
    margin-bottom: 20px;
}

#contenido-inicio .noticias h4 {
    margin: 30px;
}

#pie-de-pagina {
    clear: both;
    background-color: #D36D90;
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
}

#pie-de-pagina h3 {
    text-transform: uppercase;
}

#pie-de-pagina h4 {
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
    color: #970b22;
}